{% extends "municipality_project/base.html" %}

{% block title %}	  <title>Ειδοποιήσεις</title> {% endblock %}

{% block content %}
<body>
<div class="grid-container">
{% include "municipality_project/menu.html" %}
{% if notifications %}
      <div class="item3">
        <div class="main">
          <div class="container">
            <table align="center">
              <thead>
                <tr class="head">
                  <th style="width: 3%"> </th>
                  <th>Περιγραφή</th>
                  <th>Ημερομήνια</th>
                  <th style="width: 3%">  </th>
                </tr>
              </thead>
              <tbody>
              {% for notification in notifications %}
                <tr class="body">
                  <td><i class="fa fa-bell" style="font-size:19px" width="224" height="224"></i></td>
                  <td><a href="{% url 'municipality_project:activityRow' activity_id=notification.activity_id.pk %}">{{notification.message}}</i></a></td>
                  <td>{{notification.date}}</td>
                  <td><a href="#" class="glyphicon glyphicon-trash" style="font-size:19px; text-decoration: none;" alt="Διαγραφή" title="Διαγραφή" width="224" height="224"></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
          <div class="item3">
            <div class="main">
              <div class="container">
            <div class="alert alert-info center-block" style="width: 100%;" role="alert">
              <p class="text-center">
              <strong>Δεν έχετε καμία ειδοποίηση.</strong>
              </p>
            </div>
           {% endif %}
        <p></p>
        <hr style="height:30pt; visibility:hidden;" />
      </div>
    </div>
  </div>
  {% include "municipality_project/footer.html" %}
</div>
</body>
{% endblock %}

{% block endscript%}
{% endblock %}
